{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<style>
    p {
        text-indent: 30px; /* Отступ для красной строки */
        text-align: justify; /* Выравнивание текста по ширине */
        margin-bottom: 20px; /* Отступ между абзацами */
    }
</style>
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container p-4">
        <class="m-2"><strong>
            <h2>О нас</h2>
        </strong></class>
        <p class="m-2">
            <p>
                Добро пожаловать в наш уютный уголок качественных покупок! Мы рады, что вы решили заглянуть к нам. 
                Наш магазин – это не просто место для покупок, это место, где каждый клиент становится частью нашей большой и дружной семьи.
            </p>
            <p>
                Всё начиналось с одной простой, но очень важной идеи: сделать ваш шопинг не только удобным, но и приятным приключением. 
                Мы, как мастера, тщательно отбираем каждый товар, проверяем его на соответствие самым высоким стандартам качества, чтобы в вашем доме появились 
                только те вещи, которые вызывают радость и делают каждый день немного лучше.
            </p>
            <p>
                Вы – наше вдохновение и наш главный приоритет. Мы стараемся, чтобы каждый визит в наш магазин оставлял после себя приятные эмоции. 
                Наши консультанты всегда готовы помочь вам с выбором, ответить на любые вопросы и предложить лучшее решение именно для вас. Ваша улыбка – лучшая награда для нас!
            </p>
            <p>
                Мы знаем, что время – один из самых ценных ресурсов, поэтому делаем всё, чтобы шопинг у нас был максимально быстрым и комфортным. 
                Мы постоянно расширяем наш ассортимент, прислушиваемся к вашим пожеланиям и замечаниям, чтобы каждый раз, когда вы возвращаетесь к нам, 
                вы находили что-то новое и интересное.
            </p>
            <p>
                Благодарим вас за доверие и выбор нашего магазина. Мы всегда рады видеть вас среди наших покупателей и надеемся на долгое и взаимовыгодное сотрудничество. 
                В нашем магазине для вас всегда открыты двери, и мы делаем всё возможное, чтобы вы чувствовали себя как дома.
            </p>
        </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home 2024</p>
    </div>
</footer>
{% endblock %}


