{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
<style>
    p {
        text-indent: 30px; /* Отступ для красной строки */
        text-align: justify; /* Выравнивание текста по ширине */
        margin-bottom: 20px; /* Отступ между абзацами */
    }
</style>
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container p-4">
        <class="m-2">
            <h3>Наши контактные данные:</h3>
            <p><strong>Телефон:</strong> +7 (123) 456-78-90</p>
            <p><strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a></p>
            <p><strong>Адрес:</strong> ул. Примерная, 10, Москва, 123456, Россия</p>
        
            <h3>Часы работы:</h3>
            <p>Пн-Пт: 9:00 - 18:00</p>
            <p>Сб: 10:00 - 15:00</p>
            <p>Вс: Выходной</p>
        
            </form>
        </class>
        <p class="m-2"></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home 2024</p>
    </div>
</footer>
{% endblock %}


