{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock  %}

{% block content %}
    <style>
        p {
            text-indent: 30px; /* Отступ для красной строки */
            text-align: justify; /* Выравнивание текста по ширине */
            margin-bottom: 20px; /* Отступ между абзацами */
        }
    </style>
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <div class="container p-4">
        <class="m-2">
            <h3>Доставка</h3>
            <p>
                Мы предлагаем различные способы доставки, чтобы обеспечить максимальное удобство для наших клиентов. Все заказы обрабатываются и отправляются в течение 1-3 рабочих дней после подтверждения оплаты.
            </p>
        
            <h3>Способы доставки:</h3>
            <ul>
                <li><strong>Курьерская доставка</strong>: Доставка курьером до двери в течение 2-5 рабочих дней в зависимости от вашего местоположения.</li>
                <li><strong>Самовывоз</strong>: Вы можете забрать ваш заказ самостоятельно из нашего пункта выдачи.</li>
                <li><strong>Почтовая доставка</strong>: Доставка по почте в любую точку страны. Сроки доставки зависят от удаленности региона.</li>
            </ul>
        
            <h3>Стоимость доставки:</h3>
            <p>
                Стоимость доставки зависит от выбранного способа и вашего местоположения. Для заказов на сумму более <strong>5000 рублей</strong> доставка осуществляется бесплатно.
            </p>
        
            <h3>Оплата</h3>
            <p>
                Мы предлагаем несколько способов оплаты, чтобы сделать процесс покупки максимально удобным и безопасным.
            </p>
        
            <h3>Способы оплаты:</h3>
            <ul>
                <li><strong>Банковская карта</strong>: Вы можете оплатить заказ онлайн с помощью банковской карты (Visa, MasterCard, Мир).</li>
                <li><strong>Электронные кошельки</strong>: Оплата через популярные электронные кошельки, такие как Яндекс.Деньги, WebMoney и QIWI.</li>
                <li><strong>Наложенный платеж</strong>: Оплата при получении заказа на почте или через курьера (доступно не для всех регионов).</li>
                <li><strong>Безналичный расчет</strong>: Для юридических лиц возможна оплата по безналичному расчету. Счет на оплату будет выслан на ваш электронный адрес.</li>
            </ul>

        </class>
        <p class="m-2"></p>
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Home 2024</p>
    </div>
</footer>
{% endblock %}


